# Python
__pycache__/
*.py[cod]
*$py.class

# macOS
.DS_Store

# SQLite database
db.sqlite3

# Virtual environments
venv/
.venv/
env/

# Django
*.log
media/

# VS Code
.vscode/

# PyCharm
.idea/

# Environment variables
.env
staticfiles/