
{% extends "dashboard/base.html" %}

{% block content %}

<div class="container-fluid">

    <h2 class="mb-4 px-2">
        Dashboard
    </h2>


    <!-- Dashboard Cards -->
    <div class="row g-3">


        <div class="col-12 col-sm-6 col-lg-3">
            <div class="card p-3 shadow-sm h-100">
                <h6>Total Products</h6>
                <h2>{{ total_products }}</h2>
            </div>
        </div>


        <div class="col-12 col-sm-6 col-lg-3">
            <div class="card p-3 shadow-sm h-100">
                <h6>Total Brands</h6>
                <h2>{{ total_brands }}</h2>
            </div>
        </div>


        <div class="col-12 col-sm-6 col-lg-3">
            <div class="card p-3 shadow-sm h-100">
                <h6>Total Categories</h6>
                <h2>{{ total_categories }}</h2>
            </div>
        </div>


        <div class="col-12 col-sm-6 col-lg-3">
            <div class="card p-3 shadow-sm h-100">
                <h6>Stock Quantity</h6>
                <h2>{{ total_stock }}</h2>
            </div>
        </div>


    </div>


    <hr class="my-4">


    <!-- Low Stock Section -->

    <h3 class="mt-4">
        Low Stock Alert
    </h3>


    <div class="table-responsive">

        <table class="table table-striped">

            <thead>
                <tr>
                    <th>Product</th>
                    <th>SKU</th>
                    <th>Quantity</th>
                </tr>
            </thead>


            <tbody>

            {% for product in low_stock_products %}

                <tr>
                    <td>{{ product.name }}</td>
                    <td>{{ product.sku }}</td>
                    <td>{{ product.quantity }}</td>
                </tr>


            {% empty %}

                <tr>
                    <td colspan="3" class="text-center">
                        No low stock products
                    </td>
                </tr>


            {% endfor %}


            </tbody>

        </table>

    </div>


</div>


{% endblock %}
```
